.topWrapContainer {
  top: 4.6rem;
  position: relative;
  min-height: calc(100vh - 4.7rem);
  max-height: fit-content;
  padding: 2rem;
}

.CartContainer {
  box-shadow: 0 0 10px 10px rgba(200, 200, 200, 0.271);
  /* margin: 2rem; */
}
