.homePageMainContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.homeImage {
  z-index: -100;
  width: inherit;
  height: inherit;
  object-fit: cover;
  position: absolute;
}

.welcomeNote {
  font-weight: 700;
  font-size: 4rem;
  /* padding-left: 4rem; */
}

.belowStatement {
  font-size: 1.3rem;
}
